:root {
  --base-font-size: 1rem;

  --transition-duration: 0.3s;
  --transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  --zoom-icon-background: hsla(210, 38%, 16%, 0.94);
  --zoom-icon-color: #fff;

  --lightbox-background: #fff;
  --lightbox-z-index: 1337;

  --caption-background: #fff;
  --caption-color: #000;

  --counter-background: transparent;
  --counter-color: #fff;

  --button-background: transparent;
  --button-color: #fff;

  --loader-color: #fff;

  --slide-max-height: 95vh;
  --slide-max-width: 95vw;
}
