@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=Source+Serif+Pro:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tobii';

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    padding: 8px;
    z-index: 100;
}
.skip-link:focus {
    top: 0;
}

.uniform__potty,
.honeypot-field {
    position: absolute;
    left: -9999px;
}
[hidden] {
  display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.generated {
    max-width: 45em;
    & > * {
        @apply mb-4;
    }
    h2 {
        @apply text-xl;
    }
    strong {
        @apply font-sans font-semibold pr-2;
    }
    li {
        @apply pb-1 pl-6 bg-left-top bg-no-repeat;
        background-size: 1.5rem;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='12' r='2'/%3E%3C/svg%3E");
    }
}

.submenu {
    max-height: none;
    opacity: 1;
    transition: opacity 300ms ease-out;
    &.is-hidden {
        max-height: 0;
        opacity: 0;
    }
}

[data-menu-list] {
    top: 0;
    &.is-hidden {
        top: -100%;
    }
}
